h1{
    font-size: 30px;
    color: blue;
    background-color: cadetblue;
    height: 40px;
    font-family: 'IM Fell English SC', serif;
    position: relative


}


div{
    font-family: 'Dela Gothic One', cursive;
}
